<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
    <style>
        body{
            background-image: url('https://cdn.aitimes.com/news/photo/202104/137811_137215_932.png');
            background-repeat : no-repeat;
            background-size : 1300px;
        }
        form {
          font
          position : relative;
          left:40%

        }
    </style>
</head>
<body>



    <form action="/searchpage" method="get">
        <h1 class="title" style="color:white" >I Want</h1>
    <input type="text" name="job_name" placeholder="Keyword">
    <button>Search</button>
    <h1 class="last" style="color:white">Job</h1>
    <input type="checkbox" id = 'Indeed' name="chk" value="indeed">
        <label for="Indeed" style="color:white">Indeed</label>
    <input type="checkbox" id="Jobkorea" name="chk" value="Jobkorea">
        <label for="Jobkorea" style="color:white">JobKorea</label>

    </form>




</body>
</html>