<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchpage</title>
    <style>
      section {
      display:grid;
      gap:20px;
      grid-template-columns:repeat(4,1fr);
    }
    </style>
</head>
<body>

<h1>Search Results {{word}}</h1><form action="/"><button>Back</button></form>

<section>

    <h4>title</h4>
    <h4>company</h4>
    <h4>location</h4>
    <h4>link</h4>

    {%for jobs in job%}
    <span>{{jobs.title}}</span>
    <span>{{jobs.company}}</span>
    <span>{{jobs.location}}</span>
    <a href="{{jobs.link}}" target="_blank">APPLY LINK</a>

    {%endfor%}
</section>
</body>
</html>